/* You can add global styles to this file, and also import other style files */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: #101322;
  background-color: #f2f2f2;
  font-size: 1.6rem;
  font-family: Roboto, Nunito, Arial, Helvetica, sans-serif;
}

a {
  color: inherit;
}

input {
  font-size: inherit;
}
